In [1]:
def hello_python():
    name = input("Enter your name: ")
    age = input("Enter your age: ")
    print(f"Welcome {name}! Your age is {age}")

hello_python()

Enter your name: aadil
Enter your age: 22
Welcome aadil! Your age is 22

In [11]:
def find_type():
  data=input("Enter data: ")
  try:
    data=int(data)
    print(f"{data} is an integer")
  except ValueError:
    try:
      data=float(data)
      print(f"{data} is a float")
    except ValueError:
      print
find_type()

Enter data: 10.5
10.5 is a float

In [19]:
def listOperations():
  list1=['a','b','c','d']
  # for item in list1:
  #   print(item)
  list1.append('e')
  list1.remove('a')
  for item in list1:
    print(item)
  for item in list1:
    print(item.upper())

listOperations()

b
c
d
e
B
C
D
E

In [21]:
def tupleUnpack():
  data=("a","b")
  x=data[0]
  y=data[1]
  print(x,y)

tupleUnpack()

a b

In [22]:
def dictionary_managment():
  data={"abc":'B','def':'C','ghi':'A'}
  print(data)

dictionary_managment()

{'abc': 'B', 'def': 'C', 'ghi': 'A'}

In [23]:
def setOperations():
  input1=input("Enter a list of integers seperated by spaces: ")
  list1=[int(x) for x in input1.split()]
  set1=set(list1)

  input2=input("Enter a list of integers seperated by spaces: ")
  list2=[int(x) for x in input2.split()]
  set2=set(list2)

  print(set1.union(set2))
  print(set1.intersection(set2))
  print(set1.difference(set2))
  print(set2.difference(set1))
setOperations()

Enter a list of integers seperated by spaces: 1 5 3 7 8
Enter a list of integers seperated by spaces: 2 4 9 0 1 3
{0, 1, 2, 3, 4, 5, 7, 8, 9}
{1, 3}
{8, 5, 7}
{0, 9, 2, 4}

In [31]:
def numChecker():
  num=input("Enter a number:")

  num=int(num)
  if num%2==0:
    print(f"{num} is an even number")
  else:
    print(f"{num} is an odd number")

  if num<0:
    print(f"{num} is negative")
  elif num>0:
      print(f"{num} is positive")
  else:
      print(f"{num} is zero")

numChecker()

Enter a number:-2
-2 is an even number
-2 is negative

In [36]:
def fizzBuzz():
  for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
      print("FizzBuzz")
    elif i % 3 == 0:
      print("Fizz")
    elif i % 5 == 0:
      print("Buzz")
    else:
      print(i)
fizzBuzz()

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [37]:
def factorialCalculator():
  num=input("Enter a number: ")
  num=int(num)
  factorial=1
  for i in range(1,num+1):
    factorial*=i
  print(f"The factorial of {num} is {factorial}")
factorialCalculator()

Enter a number: 3
The factorial of 3 is 6

In [40]:
def primeNumberChecker():
  num=input("Enter a number: ")
  num=int(num)
  if num<2:
    print(f"{num} is not a prime number")
  else:
    for i in range(2,num):
      if num%i==0:
        print(f"{num} is not a prime number")

primeNumberChecker()

Enter a number: 4
4 is not a prime number

In [41]:
def listSquare():
  list1=[2,4,6,8]
  list2=[]
  for i in list1:
    list2.append(i**2)

  print(list2)
listSquare()

[4, 16, 36, 64]

In [46]:
def mergeDictionary():
  dict1={'a':1,'b':2}
  dict2={'b':4,'d':3}
  dict3={}
  dict3.update(dict1)
  dict3.update(dict2)
  print(dict3)
mergeDictionary()

{'a': 1, 'b': 4, 'd': 3}

In [45]:
def removeDup():
    list1=[1,1,2,3,4,5,6,4]
    list2=[]
    for i in list1:
        if i not in list2:
            list2.append(i)
    print(list2)
removeDup()

[1, 2, 3, 4, 5, 6]

In [56]:
def palindromeChecker():
  word=input("Enter a word: ")
  isPalindorme= lambda word:word == word[::-1]
  if isPalindorme(word):
    print(f"{word} is a palindrome")
  else:
    print(f"{word} is not a palindrome")
palindromeChecker()

Enter a word: ahmed
ahmed is not a palindrome

In [51]:
def fibonnaciSequence():
    num=input("Enter a number:")
    n1,n2=0,1
    count=0
    if int(num)<=0:
        print("Enter a +ive number")
    elif int(num)==1:
        print(f"Fibonnaci Sequence upto {num}:")
        print(n1)
    else:
        print(f"Fibonnaci Sequence upto {num}:")
        while count<int(num):
            print(n1)
            nth=n1+n2
            n1=n2
            n2=nth
            count+=1
fibonnaciSequence()

Enter a number:10
Fibonnaci Sequence upto 10:
0
1
1
2
3
5
8
13
21
34

In [53]:
def AvgCalculator():
  try:
     input1=input("Enter a list of integers seperated by spaces: ")
     list1=[int(x) for x in input1.split()]
     sum=0
     for i in list1:
       sum+=i
     print(f"The average of the list is {sum/len(list1)}")
  except:
    print("Invalid input")
AvgCalculator()

Enter a list of integers seperated by spaces: 1 2 3 4 5
The average of the list is 3.0

In [54]:
def multiplicationTable():
  for i in range(1,11):
    for j in range(1,11):
      print(f"{i} x {j} = {i*j}")
multiplicationTable()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [64]:
def RegistrationSystem():
  users={}
  while True:
    print("1. Register\n2. Login\n3. Exit")
    choice=input("Enter your choice: ")
    if choice=="1":
      username=input("Enter username:")
      password=input("Enter password:")
      users.update([(username,password)])
      print("Registartion Successful")
      print(users)
    elif choice =="2":
      username=input("Enter username:")
      password=input("Enter password:")
      if username in users and password==users[username]:
        print("Login successful")
      else:
        print("Invalid username or password")
    elif choice=="3":
      break
    else:
      print("Invalid choice")
RegistrationSystem()

1. Register
2. Login
3. Exit
Enter your choice: 1
Enter username:aadil
Enter password:1234
Registartion Successful
{'aadil': '1234'}
1. Register
2. Login
3. Exit
Enter your choice: 2
Enter username:aadil
Enter password:1234
Login successful
1. Register
2. Login
3. Exit
Enter your choice: 3

In [65]:
def CountWordsinDictionary():
  input1=input("Enter a list of words seperated by ',': ")
  list1=[str(x) for x in input1.split(',')]
  dict1={}
  for i in list1:
    if i in dict1:
      dict1[i]+=1
    else:
      dict1[i]=1
  print(dict1)
CountWordsinDictionary()

Enter a list of words seperated by ',': apple,banana,apple
{'apple': 2, 'banana': 1}

In [67]:
def TemperatureConvert():
  convert=input("Do you want to convert to Fahrenheit(F) or Celsius(C):")
  if convert =="F":
    temp=input("Enter temperature in Fahrenheit:")
    temp=(float(temp)-32)*5/9
    print(f"The temperature in Celsius is {temp}")
  elif convert =="C":
    temp=input("Enter temperature in Celsius:")
    temp=(float(temp)*9/5)+32
    print(f"The temperature in Fahrenheit is {temp}")
  else:
    print("Inavlid Input")

TemperatureConvert()

Do you want to convert to Fahrenheit(F) or Celsius(C):C
Enter temperature in Celsius:32
The temperature in Fahrenheit is 89.6